*.py.sw*
*.swp
*.py.s*
.ipynb_checkpoints/
*.pkl
__pycache__/
.DS_Store
.env
data/
src/scripts/train_on_cocoflops.sh
src/scripts/evaluate_on_cocoflops.sh
src/scripts/exp.txt
src/scripts/job_outputs/
src/scripts/job_outputs/*
*/jupyter.log


data/*

**/*.egg-info

**/wandb/*